html {
    background-color: #fff;
}

/* RESET CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
/* FIM RESET CSS */

@font-face {
    font-family: 'Poppins';
    src: url(Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(Font/Roboto-Regular.ttf);
}

/* CSS */
.nome h1 {
    padding: 10px 200px;
    font: 300 23px 'Poppins';
    /* text-align: center; */
    color: #fff;
    background-color: #06107e;
    height: 60px;
}

.titulo {
    font: 600 30px 'Poppins';
    margin-left: 160px;
    margin-top: 100px;
}

.tudinho{
    margin-left: -53px;
    justify-content: center;
    display: flex;
}

img{
    margin-right: 120px;
    width: 591px;
}

.loginzin{
    font: 400 25px 'Poppins';
    margin-bottom: 40px;
}

span{
    color: #1e5ee9;
}

input::placeholder{
    color: #fff;
}

input{
    margin-bottom: 40px;
    color: #fff;
    width: 390px;
    display: flex;
    padding: 10px 15px;
    font: 400 15px 'Poppins' ;
    border-radius: 10px;
    background-color: #85b8f2;
}

button{
    margin-left: 84px;
    display: flex;
    align-items: center;
    padding: 10px 85px;
    font: 400 15px 'Poppins' ;
    border-radius: 10px;
    background-color: #06107e;
    color: #fff;
}

.formulario{
    margin-top: 100px;
}